.odd {
  background-color: rgb(255,127,127);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
  color: #0000FF;
  font-size: 36px;
}

.third,
#fourth {
  font-size: 24px;
}

#fourth {
  background-color: hsl(120,100%,75%);
  font-weight: bold;
}