* {
  margin: 0;
  padding: 0;
}

:root {
  height: 100vh;
}

body {
  height: 100%;
}
.container {
  text-align: center;
  display:grid;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar articles"
    "footer footer";
  grid-template-rows: 100px 50px 1fr 50px;
  grid-template-columns: 1fr 4fr;
  gap:4px;
  height: 100%;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.logo {
  justify-self:start;
}

.menu {
  justify-self:end;
}

.menu ul{
  margin-left: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4,1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  background-color: #FF7755;
  grid-area: sidebar;
  display:grid;
  grid-template-rows: repeat(4,1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.photo,
.side-content {
  display: grid;
  align-items: center;
}

.nav {
  background-color: #FF7755;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3,1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  grid-area: articles;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  box-sizing:border-box;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
