body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 0px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin: 8px 0px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  margin: 0px auto;
  padding: 8px 24px;
}