body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  padding-left: 16px;
  font-weight: 900;
  font-size: 32px;
  flex: initial;
  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 16px;
  flex: initial;
}

.middle {
  flex: 1 1 auto;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

li {
  padding: 8px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 32px;
}